<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido, usuario {{ usuario_id }}</h1>

    <h2>Selecciona una opción:</h2>
    <a href="{% url 'registro_modelos' %}"><button>Registro Modelos</button></a>
    </a>
    <a href="{% url 'mostrar_datos' %}"><button>Tabla de Posiciones</button>
    </a>

    <br>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
</body>
</html>
