<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido, usuario {{ usuario_id }}</h1>

    {% if usuario_id %}
        <h2>Selecciona una opción:</h2>
        <a href="{% url 'registro_modelos' %}"><button>Registro Modelos</button></a>
        </a>
        <button onclick="abrirVentanaPopup()" class="btn btn-primary">Tabla de Posiciones</button>
    
    {% else %}
        <p>No tienes acceso. Inicia sesión.</p>
    {% endif %}

    <br>
    <a href="{% url 'logout' %}">Cerrar sesión</a>

    <!-- jQuery debe ir primero -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Bootstrap JS (requiere jQuery) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
    function abrirVentanaPopup() {
        window.open(
            "{% url 'mostrar_datos' %}",
            "popup",
            "width=1100,height=600,resizable=yes,scrollbars=yes"
        );
    }
    </script>


</body>
</html>
